@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Bem vindo(a) ao cadastro de pessoas.</h1>
    <p>Acesse <button class="border-0">https://localhost:7074/Person</button> para mais detalhes.</p>
</div>
